@media(min-width:768px) and (max-width:1024px) {
    * {
        margin: 0;
        padding: 0;
        text-transform: capitalize;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Montserrat', sans-serif;
    }

    .spinner-border,
    .spinner2 {
        display: none;
    }

    .burgurmenu {
        height: 50px;
        /* filter: blur(2px); */
        justify-content: start;
        display: flex;
        align-items: center;
        backdrop-filter: blur(5px);
        box-shadow: 2px 2px 5px gray;
        position: sticky;
        top: 0;
        border-radius: 3px;
        z-index: 1000;
    }

    .mainburgurmenu {
        width: 35px;
        background-color: rgba(255, 0, 0, 0.8);
        height: 5px;
        margin-right: 20px;
        border-radius: 5px;
        opacity: 0.8;
        position: relative;
    }

    .mainburgurmenu::after {
        content: '';
        position: absolute;
        width: 35px;
        height: 5px;
        top: -10px;
        border-radius: 5px;
        right: 0px;
        background-color: rgba(255, 0, 0, 0.8);
    }

    .mainburgurmenu::before {
        content: '';
        position: absolute;
        width: 35px;
        height: 5px;
        top: 10px;
        border-radius: 5px;
        right: 0px;
        background-color: rgba(255, 0, 0, 0.8);
    }

    /* ------------------------------------navbarstart------------------------- */
    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .navbar{
        display: flex;
         justify-content: center;
         font-size: 30px;
         align-content: flex-end;
         width: 87%;
         background: rgba(255, 255, 255, 0.764);
          height: 50vh;
     }
    a[class*="link"] {
        padding: 5px;
        color: #000;
    }

    a[class*="link"]:hover {
        color: rgba(255, 0, 0, 0.8);
        text-decoration: none;
    }

    /* ---------------------------------navbarend------------------- */
    .bannersection {
        height: 90vh;
        background-image: url(../img/IMG_20220927_203011.jpg);
        background-size: 100% 100%;
        color: #000;
        position: relative;
    }
    .innerbannersectio{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .bannertext {
        position: absolute;
        top: 130px;
        font-size: 37px;
        letter-spacing: 8px;
    }

    .designer {
        position: absolute;
        top: 169px;
        font-size: 15px;
        letter-spacing: 2px;
    }
    
    .designer::first-letter {
      color: #f00;
      font-size: 50px;
    }
    .bannertext::first-letter {
        position: absolute;
        top: 150px;
        left: 40px;
        font-size: 50px;
        color: rgba(255, 0, 0, 0.8);
    }

    .aboutcontent {
        height: 100vh;
        position: relative;
    }

    .bannerimg {
        position: absolute;
        top: 100px;
        display: block;
        height: 50%;
        left: 35px;
        width: 80%;
        border-radius: 50%;
        background-image: url(../img/IMG_6649.jpeg);
        /* box-shadow: 8px 2px 5px gray; */
        background-size: 100% 100%;
    }

    .bannerimg::before {
        position: absolute;
        border-radius: 40px;
        top: 14px;
        left: 25px;
        content: '';
        width: 200px;
        height: 230px;
        z-index: -1;
        animation-name: animation;
        animation-delay: 0.5s;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-color: #f00;
        box-shadow: 15px 5px 5px rgba(255, 0, 0, 0.8);
        opacity: 0.5;
        transform: rotate(20deg);
    }

    @keyframes animation {
        0% {
            transform: rotate(0deg);

        }

        100% {
            transform: rotate(360deg);
        }
    }

    /* ---------------------------------aboutsection------------------ */
    .abouttext {
        height: 75vh;
        position: relative;
    }
    .aboutinnerbox1{
        height: 50vh;
        display: flex;
        justify-content: center;
    }
    .inneraboutimg{
        height: 64%;
        width: 86%;
        background-image: url(../img/IMG_6649.jpeg);
        background-size: 100% 100%;
        border-radius: 50%;
        margin-top: 136px;
    }
    .inneraboutimg::before{
        position: absolute;
        /* border-radius: 40px; */
        top: 175px;
        left: 31px;
        content: '';
        width: 88%;
        height: 50%;
        z-index: -1;
        animation-name: animation1;
        animation-delay: 0.5s;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-color: #f00;
        box-shadow: 15px 5px 5px rgb(255 0 0 / 80%);
        opacity: 0.5;
        /* transform: rotate(20deg); */
       border-radius: 50px;
    }
    @keyframes animation1 {
        0%{
            transform: rotate(0deg);
            
        }
        100%{
            transform: rotate(360deg);
        }
    }
    .inneraboutimg::after{
        position: absolute;
        /* border-radius: 40px; */
        top: 175px;
        left: 31px;
        content: '';
        width: 88%;
        height: 50%;
        z-index: -1;
        animation-name: animation2;
        animation-delay: 0.5s;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-color: #00f;
        box-shadow: 15px 5px 5px rgb(0 0 255 / 80%);
        opacity: 0.5;
        /* transform: rotate(20deg); */
       border-radius: 50px;
    }
    @keyframes animation2 {
        0%{
            transform: rotate(-0deg);
            
        }
        100%{
            transform: rotate(-360deg);
        }
    }
    .aboutinnerbox2{
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .display-4 {
        position: relative;
        top: 50px;
        left: 0px;
        font-size: 28px;
    }

    .paragraph {
        position: absolute;
        top: 150px;
        text-align: justify;
        max-width: 500px;
    }

    .click {
        position: absolute;
        bottom: 13px;
        left: 65px;
        background-color: rgba(255, 0, 0, 0.8);
        padding: 10px;
        width: 200px;
        color: black;
        border-radius: 15px;
        text-align: center;
    }

    .click:hover {
        color: #f00;
        background-color: transparent;
        text-decoration: none;
    }

    /* -----------------------------out service =================*/
    .ourservice {
        height: 28vh;
    }

    .html,  .bootstrap{
        box-shadow: 5px 5px 3px rgba(189, 37, 37, 0.681);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    .css,
    .js {
        box-shadow: 5px 5px 3px rgba(189, 37, 37, 0.681);
        height: 100%;
        transform: rotatey(81deg);
        transition: all 1s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    .css:hover,
    .js:hover {
        transform: rotatey(0deg);
    }

    .fontnumber {
        color: #f00;
    }

    /* ================================================= */
    footer {
        width: 100%;
        overflow: hidden;
    }

    .adress {
        position: relative;
        margin-left: 20px;
        height: 50vh;
        letter-spacing: 3px;
        /* background: #000; */
    }

    .contact {
        position: absolute;
        top: 92px;
        left: 90px;
    }

    .loction {
        font-size: 20px;
        position: absolute;
        top: 157px;
        left: 90px;
    }

    .call {
        font-size: 20px;
        position: absolute;
        top: 231px;
        left: 90px;
    }

    .eamileadress {
        font-size: 20px;
        position: absolute;
        top: 306px;
        left: 90px;
        letter-spacing: 2px;
    }

    .inputbox {
        height: 41vh;
        margin-left: 20px;
        position: relative;
    }

    input {
        width: 50%;
        transform: translateX(150px);
        outline: #f00;
        border-bottom-width: 0px;
        border: none;
        transition: all 0.5s linear;
        font-size: 30px;

    }

    input:hover {
        transform: translateX(90px);
        border-bottom: 1px solid #f00;
    }

    .phone {
        position: absolute;
        top: 9px;
    }

    .number {
        position: absolute;
        top: 76px;
    }

    .email {
        position: absolute;
        top: 143px;
    }

    .sendmsg {
        position: absolute;
        right: 30px;
        bottom: 17px;
        border-radius: 5px;
        text-decoration: none;
        background-color: rgba(0, 0, 255, 0.6);
        padding: 10px;
        color: #fff;

        box-sizing: border-box;
    }

    button {
        width: 150px;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}