@media(min-width:481px) and (max-width:767px) {
    * {
        margin: 0;
        padding: 0;
        text-transform: capitalize;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Montserrat', sans-serif;
        
    }

    .spinner-border {
        display: none;
    }

    .burgurmenu {
        height: 50px;
        /* filter: blur(2px); */
        justify-content: start;
        display: flex;
        align-items: center;
        backdrop-filter: blur(5px);
        box-shadow: 2px 2px 5px gray;
        position: sticky;
        top: 0;
        border-radius: 3px;
        z-index: 1000;
    }

    .mainburgurmenu {
        width: 35px;
        background-color: rgba(255, 0, 0, 0.8);
        height: 5px;
        margin-right: 20px;
        border-radius: 5px;
        opacity: 0.8;
        position: relative;
    }

    .mainburgurmenu::after {
        content: '';
        position: absolute;
        width: 35px;
        height: 5px;
        top: -10px;
        border-radius: 5px;
        right: 0px;
        background-color: rgba(255, 0, 0, 0.8);
    }

    .mainburgurmenu::before {
        content: '';
        position: absolute;
        width: 35px;
        height: 5px;
        top: 10px;
        border-radius: 5px;
        right: 0px;
        background-color: rgba(255, 0, 0, 0.8);
    }

    /* ------------------------------------navbarstart------------------------- */
    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .navbar{
        display: flex;
         justify-content: center;
         font-size: 30px;
         align-content: flex-end;
         width: 87%;
         background: rgba(255, 255, 255, 0.764);
          height: 100vh;
     }
    a[class*="link"] {
        padding: 5px;
        color: #000;
    }

    a[class*="link"]:hover {
        color: rgba(255, 0, 0, 0.8);
        text-decoration: none;
    }

    /* ---------------------------------navbarend------------------- */
    .bannersection {
        height: 100vh;
        background-image: url(../img/BANNER2.jpg);
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:0px;
        
        backdrop-filter: blur(5px);
    }
    .bannerinnertext{
        height: 100%;
    }
    .innerbannersectio{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .bannertext {
        margin-top: 18%;
        font-size: 40px;
        margin-left: 9%;
        letter-spacing: 4px;
    }
    
    .designer {
        font-size: 20px;
        margin-left: 9%;
        letter-spacing: 4px;
    }

    .and {
        display: inline !important;
    }

    
    .bannertext::first-letter {
        position: absolute;
        top: 150px;
        left: 40px;
        font-size: 50px;
        color: rgba(255, 0, 0, 0.8);
    }
    
    .aboutcontent {
        height: 100vh;
        position: relative;
    }
    
    .bannerimg {
        position: absolute;
        top: 100px;
        display: block;
        height: 60%;
        left: 145px;
        width: 57%;
        border-radius: 50%;
        background-image: url(../img/IMG_6649.jpeg);
        /* box-shadow: 8px 2px 5px gray; */
        background-size: 100% 100%;
    }

    .bannerimg::before {
        position: absolute;
        border-radius: 40px;
        top: 34px;
        left: 1px;
        content: '';
        width: 412px;
        height: 453px;
        z-index: -1;
        animation-name: animation;
        animation-delay: 0.5s;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-color: #f00;
        box-shadow: 15px 5px 5px rgb(255 0 0 / 80%);
        opacity: 0.5;
        transform: rotate(20deg);
    }
    
    @keyframes animation {
        0% {
            transform: rotate(0deg);

        }

        100% {
            transform: rotate(360deg);
        }
    }
    
    .bannerimg::after {
        position: absolute;
        border-radius: 40px;
        top: 34px;
        left: 1px;
        content: '';
        width: 412px;
        height: 453px;
        z-index: -1;
        animation-name: animation2;
        animation-delay: 0.5s;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-color: #00f;
        box-shadow: 15px 5px 5px rgb(0 0 255/ 80%);
        opacity: 0.5;
        transform: rotate(20deg);
    }

    @keyframes animation2 {
        0% {
            transform: rotate(-0deg);

        }

        100% {
            transform: rotate(-360deg);
        }
    }


    /* ---------------------------------aboutsection------------------ */
    .abouttext {
        height: 100vh;
    }
    .inneraboutimg{
        height: 75%;
        width: 46%;
        background-image: url(../img/IMG_6649.jpeg);
        background-size: 100% 100%;
        border-radius: 50%;
        margin-top: 60px;
    }
    .inneraboutimg::before{
        position: absolute;
        top: 24%;
        content: '';
        width: 39%;
        height: 69%;
        left: 31%;
        z-index: -1;
        animation-name: animation;
        animation-delay: 0.5s;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-color: #f00;
        box-shadow: 15px 5px 5px rgb(255 0 0 / 80%);
        opacity: 0.5;
        transform: rotate(20deg);
       border-radius: 50px;
    }
    @keyframes animation {
        0%{
            transform: rotate(0deg);
            
        }
        100%{
            transform: rotate(360deg);
        }
    }
    .inneraboutimg::after{
        position: absolute;
        top: 24%;
        content: '';
        width: 39%;
        height: 69%;
        left: 29%;
        z-index: -1;
        animation-name: animation2;
        animation-delay: 0.5s;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-color: #00f;
        box-shadow: 15px 5px 5px rgb( 0 0 255/ 80%);
        opacity: 0.5;
       border-radius: 50px;
    }
    @keyframes animation2 {
        0%{
            transform: rotate(-0deg);
            
        }
        100%{
            transform: rotate(-360deg);
        }
    }
    .aboutinnerbox1 {
        height: 50vh;
        display: flex;
        justify-content: center;
    }
    .aboutinnerbox2 {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .display-4 {
        font-size: 30px;
    }

    .paragraph {
        /* left: 38px; */
        text-align: justify;
        letter-spacing: 1px;
        font-size: 15px;
        max-width: 588px;
    }
    .hide{
        display: none;
        margin: 6% 0 26% 16%;

    }
    .click {
        background-color: rgba(255, 0, 0, 0.8);
        padding: 10px;
        width: 200px;
        color: black;
        border-radius: 15px;
        text-align: center;
        border: 1px solid transparent;
    }

    .click:hover {
        border: 1px solid #ff0000;
        color: #f00;
        background-color: transparent;
        text-decoration: none;
    }

    /* -----------------------------out service =================*/
    .ourservice{
        height: 100vh;
    }
    .html,
    .css,
    .bootstrap,
    .js{
        box-shadow: 5px 5px 3px gray;
        height: 23%;
        transform: rotatey(81deg);
        transition: all 2s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    .html:hover,
    .css:hover,
    .bootstrap:hover,
    .js:hover{
        transform: rotatey(0deg);
    }
    .fontnumber{
        color: #f00;
    }
    /* ------------------------footer------------------------------------- */
    footer{
        height: 100vh;
    }
    .adress{
        margin-left: 20px;
        height:50vh ;
        letter-spacing: 3px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .contact{
        margin-top: 4%;
        font-size: 23px;
    }
    .loction{
        margin-top: 9%;
        font-size: 23px;
    }
    .call{
        margin-top:9%;
        font-size: 23px;
    }
    .eamileadress{
        margin-top: 9%;
        letter-spacing: 3px;
        font-size: 23px;
    }
    /* =================== */
    .inputbox{
        height: 50vh;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
    input{
        font-size: 23px;
        width: 100%;
        transform: translateX(50px);
        outline: #f00;
        border-bottom-width: 0px;
        border: none;
        transition: all 0.5s linear;
        display: block;
    }
    input:hover{
        transform: translateX(0px);
        border-bottom:1px solid #f00 ;
    }
    .phone{
       margin-top:0px;
    }
    .number{
        margin-top:5%;
    }
    .email{
        margin-top:5%;

    }
    .sendmsg{
        margin-left: 52%;
        padding: 6px;
        display: inline-block;
        margin-top: 10%;
        box-sizing: border-box;
        background-color: rgba(0, 0, 255, 0.745);
        border-radius: 5px;
        height: 22%;
        color: #fff;
    }
    .sendmsg:hover{
        text-decoration: none;
        background-color: transparent;
        border: 1px solid black;
    }
    button{
        margin-top: 10%;
        margin-bottom: 20px;
        display: inline-block;
    }
}